<template>
  <b-container>
    <b-jumbotron header="Twitter import" lead="You can import tweets from Twitter">
    </b-jumbotron>
    <b-row>
      <b-card-group deck>
        <b-card title="Import from a twitter thread">
          <p><icon name="twitter"></icon> The tweet linked an all replies will be imported</p>
          <b-button :to="{ name: 'ImportTwitterTweets' }" variant="primary">Import tweet and replies</b-button>
        </b-card>
        <b-card title="Import from Twitter Moment">
          <p><icon name="bolt"></icon> Import all content from a Twitter Moment</p>
          <b-button :to="{ name: 'ImportTwitterMoment' }" variant="primary">Import a Twitter Moment</b-button>
        </b-card>
      </b-card-group>
    </b-row>
  </b-container>
</template>
<script>
import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/bolt';
import 'vue-awesome/icons/twitter';

export default {
  name: 'ImportTwitter',
  components: {
    Icon,
  },
};
</script>
