<template>
  <div>
    <b-container>
      <div>
        <h1>{{ $t('password_reset.send.form.title') }}</h1>
      </div>
      <b-form @submit="resendConfirmationAction" v-if="!validationSent">
        <b-form-group id="emailformgroup"
                      :label="$t('password_reset.send.form.email.label')"
                      :description="$t('password_reset.send.form.email.desc')">
          <b-form-input
            label="email"
            type="email"
            v-model="credentials.email"
            required
            :state="state.email.status"
          >
          </b-form-input>
          <b-form-invalid-feedback>
            {{ $t(state.email.msg) }}
          </b-form-invalid-feedback>
        </b-form-group>
        <b-button type="submit" variant="primary">{{ $t('password_reset.send.form.send_btn') }}</b-button>
        <b-button variant="outline-primary" @click="$router.push({ name: 'Login' })">{{ $t('session.form.login_btn') }}</b-button>
      </b-form>
      <div v-else>
        <div v-if="error">
          <b-alert show variant="danger">{{ $t('password_reset.send.failure') }}</b-alert>
        </div>
        <div v-else>
          <h2>{{ $t('password_reset.send.form.email_sent', { email: credentials.email }) }}</h2>
          <b-alert show variant="info">{{ $t('password_reset.send.form.email_sent_info') }}</b-alert>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
import fetchStory from '@/api/fetch';

export default {
  name: 'SendPasswordReset',
  data() {
    return {
      credentials: {
        email: '',
      },
      validationSent: false,
      error: false,
      state: {
        email: {
          status: null,
          msg: '',
        },
      },
    };
  },
  methods: {
    resendConfirmationAction(e) {
      e.preventDefault();
      fetchStory('/users/password-reset/send', this.$store, { method: 'POST', body: JSON.stringify(this.credentials) }).then(() => {
        this.error = false;
        this.validationSent = true;
      }).catch((err) => {
        Promise.resolve(err).then((data) => {
          this.error = true;
          this.state.email = { status: false, msg: data.errors };
        });
      });
    },
    resetState() {
      this.state = {
        email: {
          status: null,
          msg: '',
        },
      };
    },
  },
};
</script>
