<%= gettext "Confirm the email address" %>

==

<%= gettext "You created an account on %{host} with this email address. You are one click away from activating it. If this wasn't you, please ignore this email.", host: @instance %>

<%= PickweaverWeb.Endpoint.url() <> "/validate/#{@token}" %>


