<template>
  <b-container>
    <b-jumbotron header="Storify import" lead="You can import from Storify by providing the link of the story or your username.">
      <p>Note that the Storify service <q>will no longer be available after May 16, 2018</q>, which means you should definitely save your content before this date.</p>
      <div v-if="imports.length > 0">
        <b-progress class="mt-1" :max="imports.length" show-value>
          <b-progress-bar :value="waiting.length*(100/imports.length)" variant="success"></b-progress-bar>
          <b-progress-bar :value="to_retry.length*(100/imports.length)" variant="warning"></b-progress-bar>
          <b-progress-bar :value="failed.length*(100/imports.length)" variant="danger"></b-progress-bar>
        </b-progress>
      </div>
    </b-jumbotron>
    <b-alert :show="canImport === false" variant="danger">In order to import stories from Storify, you need to connect your Twitter account so that tweets can be fetched. A popup window will open. Please refresh this page after the process has completed. <b-button @click="connectTwitter()">{{ $t('finder.twitter.connect.button') }}</b-button></b-alert>
    <b-row>
      <b-card-group deck>
        <b-card title="Import from Storify profile name">
          <p><icon name="user-o"></icon> Only published publicly available stories can be imported. You can choose which stories will be imported.</p>
          <b-button :disabled="canImport === false" :to="{ name: 'ImportStorifyProfile' }" variant="primary">Import multiple stories</b-button>
        </b-card>
        <b-card title="Import from Storify URL">
          <p><icon name="link"></icon> Import only one story at a time. You just need to paste the URL of your Story</p>
          <b-button :disabled="canImport === false" :to="{ name: 'ImportStorifyURL' }" variant="primary">Import one story</b-button>
        </b-card>
      </b-card-group>
    </b-row>
    <b-card title="Queue">
      <p><icon name="list"></icon> View your import queue</p>
      <b-button :to="{ name: 'ImportQueue' }" variant="primary">Queue</b-button>
    </b-card>
  </b-container>
</template>
<script>
import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/user-o';
import 'vue-awesome/icons/link';
import 'vue-awesome/icons/list';
import fetchStory from '@/api/fetch';

export default {
  name: 'ImportStorify',
  components: {
    Icon,
  },
  data() {
    return {
      imports: [],
      canImport: null,
    };
  },
  created() {
    this.checkTwitterToken();
    this.fetchImports();
  },
  methods: {
    fetchImports() {
      fetchStory('/imports', this.$store).then((data) => {
        this.imports = data;
      });
    },
    checkTwitterToken() {
      fetchStory('/connect/twitter/token', this.$store).then((response) => {
        this.canImport = response.status === 'ok';
      });
    },
    connectTwitter() {
      console.log({ callback: `${window.location.origin}/connect/callback` });
      fetchStory('/connect/twitter', this.$store, { method: 'POST', body: JSON.stringify({ callback: `${window.location.origin}/connect/callback` }) }).then((response) => {
        window.open(response.authenticate_url, 'Twitter Authentification', 'height=200,width=450');
      });
    },
  },
  computed: {
    waiting() {
      return this.imports.filter(myimport => myimport.status === 0 && myimport.tentatives === 0);
    },
    to_retry() {
      return this.imports.filter(myimport => myimport.status === 0 && myimport.tentatives > 0 && myimport.tentatives <= 2);
    },
    failed() {
      return this.imports.filter(myimport => myimport.tentatives === 2);
    },
  },
};
</script>
