<template>
  <b-row class="tweet-wrapper">
    <b-col :class="'card ' + cardClass + ' tweet-body ml-auto mr-auto'" align-h="center">
      <div class="row">
        <div class="col px-1" v-for="img in tweet.images" v-bind:key="img">
          <clazy-load :src="img">
            <img class="card-img-top" :src="img" alt="Card image cap" slot="image" />
            <div slot="placeholder">
              Loading...
            </div>
          </clazy-load>
        </div>
        <div class="col px-1" v-for="video in tweet.videos" v-bind:key="video.video">
          <video class="card-img-top" :src="video.video" :poster="video.preview" controls />
        </div>
      </div>
      <div class="card-body">
        <b-row align-h="between">
          <b-col>
            <b-media>
              <b-img slot="aside" :src="tweet.user.profile" :alt="`${tweet.user.username}'s avatar`" height="40" />
              <div>
                <h6 class="card-subtitle">{{ tweet.user.username }}</h6>
                <span class="text-muted"><a :href="`https://twitter.com/@${tweet.user.screen_name}`">@{{ tweet.user.screen_name }}</a></span>
              </div>
            </b-media>
          </b-col>
          <b-col col lg="1">
            <icon name="twitter"></icon>
          </b-col>
        </b-row>
        <p class="card-text" v-html="$options.filters.text_to_links(tweet.text)"></p>
        <b-row class="tweet-actions">
          <b-col><a :href="`https://twitter.com/intent/tweet?in-reply-to=${tweet.id}&related=framasoft`" target="_blank" rel="noopener noreferrer"><icon name="reply"></icon></a></b-col>
          <b-col><a :href="`https://twitter.com/intent/retweet?tweet_id=${tweet.id}&related=framasoft`" target="_blank" rel="noopener noreferrer"><icon name="retweet"></icon></a></b-col>
          <b-col><a :href="`https://twitter.com/intent/like?tweet_id=${tweet.id}&related=framasoft`" target="_blank" rel="noopener noreferrer"><icon name="heart"></icon></a></b-col>
          <b-col md="auto" cols="12"><a :href="`https://twitter.com/statuses/${tweet.id}`" class="text-muted" target="_blank">{{ [tweet.created_at, "ddd MMM D HH:mm:ss ZZ YYYY"] | moment('L') }}</a></b-col><!-- Wed Feb 10 21:19:59 +0000 2010 -->
        </b-row>
      </div>
    </b-col>
  </b-row>
</template>
<script>
import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/retweet';
import 'vue-awesome/icons/heart';
import 'vue-awesome/icons/reply';
import 'vue-awesome/icons/twitter';

export default {
  name: 'Tweet',
  props: {
    tweet: {
      type: Object,
      required: true,
    },
    fullwidth: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  components: {
    Icon,
  },
  computed: {
    cardClass() {
      if (this.fullwidth !== true) {
        return 'col-lg-7';
      }
      return '';
    },
  },
};
</script>
<style scoped>
  .tweet-body {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
  }

  .tweet-body p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }

  .tweet-body p a {
    color: red;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
  }

  .tweet-body p a:hover,
  .tweet-body p a:focus {
    text-decoration: underline;
  }
</style>
