<template>
  <div>
    <div class="w-100"></div>
    <div class="card col col-lg-6">
        <img class="card-img-top" v-if="youtube.image && !showVideo" :src="youtube.image" alt="Card image cap" @click="showVideo = true">
        <iframe v-if="showVideo" :src="`https://youtube.com/embed/${youtube.id}`" width="480" height="360"></iframe>
        <div class="card-body">
            <h5 class="card-subtitle mb-2">{{ youtube.title }}</h5>
            <p class="card-text">{{ youtube.description }}</p>
            <a class="text-muted card-link" :href="youtube.url" target="_blank">youtube.com - {{ parseInt(youtube.published_at) | moment("dddd, MMMM Do YYYY") }}</a>
        </div>
    </div>
    <div class="w-100"></div>
  </div>
</template>
<script>
export default {
  name: 'YouTube',
  props: ['youtube'],
  data() {
    return {
      showVideo: false,
    };
  },
};
</script>
